@font-face {
  font-family: 'mt-icon-316';
  src:  url('fonts/mt-icon-316.eot?rw4lbg');
  src:  url('fonts/mt-icon-316.eot?rw4lbg#iefix') format('embedded-opentype'),
    url('fonts/mt-icon-316.ttf?rw4lbg') format('truetype'),
    url('fonts/mt-icon-316.woff?rw4lbg') format('woff'),
    url('fonts/mt-icon-316.svg?rw4lbg#mt-icon-316') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mt-icon-316' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mt-icon-look-more:before {
  content: "\e90b";
}
.mt-icon-more:before {
  content: "\e90e";
}
.mt-icon-facebook:before {
  content: "\e900";
}
.mt-icon-line:before {
  content: "\e901";
}
.mt-icon-mail:before {
  content: "\e902";
}
.mt-icon-lookmessage:before {
  content: "\e903";
}
.mt-icon-quote-left:before {
  content: "\e904";
}
.mt-icon-quote-right:before {
  content: "\e905";
}
.mt-icon-playmovie:before {
  content: "\e906";
}
.mt-icon-sub-dictionary:before {
  content: "\e907";
}
.mt-icon-sub-english:before {
  content: "\e908";
}
.mt-icon-next:before {
  content: "\e909";
}
.mt-icon-previous:before {
  content: "\e90a";
}
.mt-icon-share:before {
  content: "\e90c";
}
.mt-icon-close:before {
  content: "\e90d";
}
.mt-icon-pointdown:before {
  content: "\e90f";
}
.mt-icon-date:before {
  content: "\e910";
}
.mt-icon-location:before {
  content: "\e911";
}
.mt-icon-scale:before {
  content: "\e912";
}
.mt-icon-findclass:before {
  content: "\e913";
}
.mt-icon-magazine:before {
  content: "\e914";
}
.mt-icon-nav-down:before {
  content: "\e915";
}
.mt-icon-nav-up:before {
  content: "\e916";
}
.mt-icon-search:before {
  content: "\e917";
}
.mt-icon-member:before {
  content: "\e918";
}
.mt-icon-member-w:before {
  content: "\e919";
}
.mt-icon-declare .path1:before {
  content: "\e91a";
  color: rgb(120, 120, 138);
}
.mt-icon-declare .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(101, 101, 114);
}
.mt-icon-declare .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.mt-icon-declare .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.mt-icon-message:before {
  content: "\e91e";
}
.mt-icon-hamburger:before {
  content: "\e91f";
}
.mt-icon-thumbsup:before {
  content: "\e920";
}
.mt-icon-loading-turn:before {
  content: "\e97c";
}
.mt-icon-loading:before {
  content: "\e97f";
}
.mt-icon-replay:before {
  content: "\e984";
}
.mt-icon-eye:before {
  content: "\e9ce";
}
