._5qla{margin-top:3px;vertical-align:top}
.sp_yuDGj9kJY6t{background-image:url(/rsrc.php/v3/yh/r/aNDROeTPGbt.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_yuDGj9kJY6t.sx_a7db15{width:16px;height:16px;background-position:0 -21px}.sp_yuDGj9kJY6t.sx_3795fa{background-position:0 0}

#bootloader_Iqo_0{height:42px;}.bootloader_Iqo_0{display:block!important;}